.background {
  background-color: #e8ffce80;

}
.mainContainer {
    width: 100%;
    height: 90.6vh;
}

.allPostContainer {
  background-color: #e8ffcea6;
}

.postShadow img , .postShadow .title{
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e9fd8;
  border-radius: 20px;
}

.loginCard {
  background: linear-gradient( to bottom right ,rgba(255, 255, 255, 0.538) , rgba(233, 174, 229, 0.544)  ) !important;
}

.loginImgContainer {
  max-width: 50vw;
  height: 100%;
  /* border: 2px solid red; */
}
.loginContainer {
  background: url("./utils/mandala.png");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.loginImgContainer img {
  /* border: 2px solid grey; */
  height: 100% !important;
}

.profileImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 15px 0px;
}
.profileImgContainer img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.postCard {
  overflow: hidden !important;
}